@import "tailwindcss";
:root {
  /* ===== Light Theme ===== */
  --color-bg: oklch(97% 0.01 250); /* خلفية ناعمة قريبة من الأبيض */
  --color-surface: #e5e7eb; /* كروت / سايدبار */
  --color-text: #374151; /* رمادي غامق للقراءة الممتازة */
  --color-text-secondary: #6b7280;
  --color-primary: #2563eb; /* أزرق أنيق للأزرار أو الهايلايت */
  --color-accent: #16a34a; /* أخضر ناعم للتأكيد */
}

[data-theme="dark"] {
  /* ===== Dark Theme ===== */
  --color-bg: #0F172A;
  --color-surface: #1E293B;
  --color-text: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-primary: #38bdf8;
  --color-accent: #22c55e;
}

@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  .text-title {
    @apply text-3xl md:text-4xl font-bold text-gray-700 dark:text-gray-200;
  }
  .text-subtitle {
    @apply text-gray-500 dark:text-gray-400 text-sm uppercase tracking-widest;
  }
}
*{
  font-family: 'Cairo', sans-serif;
}
/* Swiper navigation arrows */
.swiper {
  width: 100%;
  height: auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: #333 !important; /* emerald-500 */
  transition: color 0.3s ease;
  z-index: 10;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  font-weight: bold;
}

.cert-swiper {
  width: 100%;
  overflow: hidden;
}

.cert-swiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.cert-swiper .swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: #eee;
}