@import "tailwindcss";
@theme {
  /* Light mode */
  --color-bg-light: oklch(96.7% .003 264.542); /* soft white-gray */
  --color-text-light: #666;
  --color-primary-light: #e5e5e5; /* neutral light gray for sidebar */

  /* Dark mode */
  --color-dark: #0f172a;
  --color-text-dark: #f1f5f9;
  --color-primary-dark: #1e293b;
  --color-primary-dark:#0b5b7a; /* dark sidebar */
}
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  .text-title {
    @apply text-3xl md:text-4xl font-bold text-gray-700 dark:text-gray-200;
  }
  .text-subtitle {
    @apply text-gray-500 dark:text-gray-400 text-sm uppercase tracking-widest;
  }
}
*{
  font-family: 'Cairo', sans-serif;
}
/* Swiper navigation arrows */
.swiper {
  width: 100%;
  height: auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: #087272 !important; /* emerald-500 */
  transition: color 0.3s ease;
  z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #333 !important;
  background-color: #eee;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  font-weight: bold;
}

.cert-swiper {
  width: 100%;
  overflow: hidden;
}

.cert-swiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.cert-swiper .swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: #eee;
}